body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: rgb(38, 76, 89);
}

header {
    height: 10vh;
    display: grid;
    justify-content: center;
    align-content: center;
    background-color: rgb(38, 76, 89);
    color: #f1f1f1;
}

main {
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    height: 90vh;
    grid-template-columns: auto;
    grid-template-rows: 250px 250px 200px;
    background-color: rgb(172, 198, 201);
}

button {
    font-weight: 300;
    font-size: 1em;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 0;
    color: #f1f1f1;
    background-color: rgb(38, 76, 89);
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding: 20px;
}

#number {
    font-size: 200px;
    font-weight: bold;
}

#message {
    font-size: 40px;
}
